// Bootstrap Options
//
// Quickly modify global styling by enabling or disabling optional features.
// Commented out options show default values which are already set via
// Bootstrap, but can be toggled below.

// $enable-caret:                true;
// $enable-rounded:              true;
// $enable-shadows:              false;
// $enable-gradients:            false;
// $enable-transitions:          true;
// $enable-reduced-motion:       true;
// $enable-smooth-scroll:        true;
// $enable-grid-classes:         true;
// $enable-button-pointers:      true;
// $enable-rfs:                  true;
// $enable-validation-icons:     true;
$enable-negative-margins: true;
// $enable-deprecation-messages: true;
// $enable-important-utilities:  true;
