<sbpro-layout-landing footerClasses="bg-light footer-light"
    ><sb-top-nav topNavClasses="bg-transparent navbar-dark fixed-top" brandClasses="text-white" buttonClasses="btn-teal"></sb-top-nav
    ><sbpro-page-header headerClasses="bg-gradient-primary-to-secondary page-header-ui-dark" borderType="rounded" borderClasses="text-white"
        ><div class="page-header-ui-content pt-10">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h1 class="page-header-ui-title">Build your next project faster with SB UI Kit Pro</h1>
                        <p class="page-header-ui-text mb-5">Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap</p>
                        <a class="btn btn-teal fw-500" routerLink="/">View Pages<fa-icon class="ms-1" [icon]='["fas", "arrow-right"]'></fa-icon></a><a class="btn btn-link" [routerLink]="">Documentation</a>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img class="img-fluid" src="assets/img/illustrations/windows.svg" /></div>
                </div>
            </div></div></sbpro-page-header
    ><sbpro-page-section sectionClasses="py-10 bg-white" borderType="rounded" borderClasses="text-light"
        ><div class="container px-5">
            <div class="row gx-5 text-center">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i-feather name="layers"></i-feather></div>
                    <h3>Built for developers</h3>
                    <p class="mb-0">Our customizable, block-based build system makes creating your next project fast and easy!</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i-feather name="smartphone"></i-feather></div>
                    <h3>Modern responsive design</h3>
                    <p class="mb-0">Featuring carefully crafted, mobile-first components, your end product will function beautifully on any device!</p>
                </div>
                <div class="col-lg-4">
                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i-feather name="code"></i-feather></div>
                    <h3>Complete documentation</h3>
                    <p class="mb-0">All of the layouts, page sections, components, and utilities are fully covered in this products docs.</p>
                </div>
            </div>
        </div></sbpro-page-section
    ><sbpro-page-section sectionClasses="py-10 bg-light"
        ><div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                    <div class="mb-4">
                        <div class="content-skewed content-skewed-right"><img class="img-fluid content-skewed-item shadow-lg rounded-3 border-start border-start-lg border-gray-400" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png" /></div>
                    </div>
                </div>
                <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left" data-aos-offset="200">
                    <div class="mb-5">
                        <h2>Here's What You Get</h2>
                        <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-md-6 mb-4">
                            <h6>Landing Pages</h6>
                            <p class="mb-2 small">We've crafted landing page examples for many popular business and product types.</p>
                            <a class="small d-inline-flex align-items-center" href="javascript:void(0);">Learn More<i-feather class="ms-1" name="arrow-right"></i-feather></a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <h6>Page Examples</h6>
                            <p class="mb-2 small mb-0">Use our pre-built page examples to quickly create inner pages to your website.</p>
                            <a class="small d-inline-flex align-items-center" href="javascript:void(0);">Learn More<i-feather class="ms-1" name="arrow-right"></i-feather></a>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-md-6 mb-4">
                            <h6>Layouts</h6>
                            <p class="mb-2 small mb-0">Our flex box based layout options make your site beautifully responsive and adaptable to any device.</p>
                            <a class="small d-inline-flex align-items-center" href="javascript:void(0);">Learn More<i-feather class="ms-1" name="arrow-right"></i-feather></a>
                        </div>
                        <div class="col-md-6 mb-4">
                            <h6>Modular Sections</h6>
                            <p class="small mb-0">All of the sections on each page are modular, so you can drop them into an existing page, or start with a new one!</p>
                            <a class="small d-inline-flex align-items-center" href="javascript:void(0);">Learn More<i-feather class="ms-1" name="arrow-right"></i-feather></a>
                        </div>
                    </div>
                </div>
            </div></div
    ></sbpro-page-section>
    <hr class="m-0" />
    <sbpro-page-section sectionClasses="py-10 bg-light" borderType="rounded" borderClasses="text-dark"
        ><div class="container px-5">
            <div class="text-center mb-5">
                <h2>Simple Pricing</h2>
                <p class="lead">Easy pricing means no suprises.</p>
            </div>
            <div class="row gx-5 z-1">
                <div class="col-lg-4 mb-5 mb-lg-n10" data-aos="fade-up" data-aos-delay="100">
                    <div class="card pricing h-100">
                        <div class="card-body px-5">
                            <div class="h6 d-block"><div class="badge bg-light text-dark rounded-pill fw-normal">Free</div></div>
                            <div class="pricing-price"><sup>$</sup>0<span>/mo</span></div>
                            <ul class="fa-ul text-start ms-0">
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">1 user</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Community support</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-circle me-2 text-gray-200"></i>Style customizer</li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-circle me-2 text-gray-200"></i>Custom components</li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-circle me-2 text-gray-200"></i>Expanded utilities</li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-circle me-2 text-gray-200"></i>Third-party integration</li>
                                <li><span class="fa-li"></span><i class="far fa-circle me-2 text-gray-200"></i>Layout options</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-n10" data-aos="fade-up">
                    <div class="card pricing h-100">
                        <div class="card-body px-5">
                            <div class="h6 d-block"><div class="badge bg-primary-soft rounded-pill fw-normal text-primary">Standard</div></div>
                            <div class="pricing-price"><sup>$</sup>19<span>/mo</span></div>
                            <ul class="fa-ul text-start ms-0">
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Up to 15 users</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Email and live chat support</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Style customizer</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Custom components</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Expanded utilities</span></li>
                                <li class="mb-2"><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Third-party integration</span></li>
                                <li><span class="fa-li"></span><i class="far fa-check-circle me-2 text-green"></i><span class="text-dark">Layout options</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-lg-n10" data-aos="fade-up" data-aos-delay="100">
                    <div class="card pricing h-100">
                        <div class="card-body px-5">
                            <div class="h6 d-block"><div class="badge bg-light text-dark rounded-pill fw-normal">Enterprise</div></div>
                            <p class="card-text py-10">We offer bulk discounts for larger organizations. Contact us to set up an enterprise level plan!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div></sbpro-page-section
    ><sbpro-page-section sectionClasses="bg-dark pb-10 pt-15" borderType="rounded" borderClasses="text-white"
        ><div class="container px-5">
            <div class="row gx-5 mb-10 mt-5">
                <div class="col-lg-6 mb-5">
                    <div class="d-flex h-100">
                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><fa-icon [icon]='["fas", "question"]'></fa-icon></div>
                        <div class="ms-4">
                            <h5 class="text-white">What is SB UI Kit Pro?</h5>
                            <p class="text-white-50">SB UI Kit Pro is a fully coded, responsive, Bootstrap based UI toolkit for developers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="d-flex h-100">
                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><fa-icon [icon]='["fas", "question"]'></fa-icon></div>
                        <div class="ms-4">
                            <h5 class="text-white">What can I build with SB UI Kit Pro?</h5>
                            <p class="text-white-50">Build anything you want to using this UI kit! It is flexible, multipurpose, and full of tools for you to use during development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="d-flex h-100">
                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><fa-icon [icon]='["fas", "question"]'></fa-icon></div>
                        <div class="ms-4">
                            <h5 class="text-white">Do I get free updates?</h5>
                            <p class="text-white-50">All of Start Bootstrap's premium products will come with updates for feature additions, bugfixes, and other small updates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex h-100">
                        <div class="icon-stack flex-shrink-0 bg-teal text-white"><fa-icon [icon]='["fas", "question"]'></fa-icon></div>
                        <div class="ms-4">
                            <h5 class="text-white">What frameworks does it integrate with?</h5>
                            <p class="text-white-50">Our Angular based version of SB UI Kit Pro is built to integrate with the Angular framework!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-5 justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="badge bg-transparent-light rounded-pill badge-marketing mb-4">Get Started</div>
                    <h2 class="text-white">Save time with SB UI Kit Pro</h2>
                    <p class="lead text-white-50 mb-5">Start Bootstrap's premium UI Kit beautifully and intuitively extends the Bootstrap framework making it easy to build your next project!</p>
                    <a class="btn btn-teal fw-500" [routerLink]="">Buy Now!</a>
                </div>
            </div>
        </div></sbpro-page-section
    ><sbpro-page-section sectionClasses="bg-white pt-10" borderType="rounded" borderClasses="text-light"
        ><div class="container px-5">
            <div class="row gx-5 mb-10">
                <div class="col-lg-6 mb-5 mb-lg-0 divider-right" data-aos="fade">
                    <div class="testimonial p-lg-5">
                        <div class="testimonial-brand text-gray-400">
                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2500.01 816.05" xmlns="http://www.w3.org/2000/svg">
                                <title>google</title>
                                <path d="M307.89.07h22.23c77.18,1.68,153.1,32.72,207.63,87.67-20.13,20.55-40.69,40.27-60.4,60.82-30.62-27.68-67.53-49.08-107.8-56.63C310,79.35,245.81,90.68,195.89,124.65c-54.53,35.66-91.44,96.06-99.41,160.66-8.81,63.76,9.22,130.87,50.75,180.37,39.85,48.23,100.67,78.44,163.59,80.53,58.73,3.36,120-14.68,162.75-55.79,33.56-28.94,49.08-73,54.11-115.77-69.63,0-139.26.42-208.89,0V288.24H612c15.1,92.7-6.71,197.15-77.18,263.43-47,47-112,74.66-178.28,80.11-64.17,6.3-130.45-5.87-187.5-36.91C100.67,558.38,46.14,496.72,19.3,424.15-5.87,357.45-6.29,282,17.2,214.84,38.59,153.6,79.7,99.48,132.55,61.73,183.31,24.4,245,3.85,307.89.07Z" transform="translate(0.01 -0.07)" />
                                <path d="M1989.93,21.88h89.77v599c-29.78,0-60,.42-89.77-.42.42-199.25,0-398.91,0-598.58Z" transform="translate(0.01 -0.07)" />
                                <path d="M811.66,229.52C867,219,927,230.78,972.73,263.91c41.53,29.37,70.47,75.51,79.28,125.84,11.33,58.31-2.93,122.07-40.68,168.21-40.69,51.59-107.39,79.28-172.4,75.08-59.57-3.35-117.45-33.14-152.69-81.79-39.85-53.69-49.5-127.52-27.68-190.44,21.81-67.53,83.47-119.13,153.1-131.29m12.58,79.7a112.72,112.72,0,0,0-58.72,37.33c-40.69,48.66-38.17,127.93,6.71,173.24,25.59,26,64.18,38.17,99.83,31,33.14-5.88,62.08-28.11,78-57.47,27.69-49.92,19.72-118.71-22.65-157.72-27.26-25.17-67.11-35.65-103.19-26.42Z" transform="translate(0.01 -0.07)" />
                                <path d="M1256.29,229.52c63.34-12.17,132.55,5.45,180,49.91,77.18,69.22,85.57,198.83,19.72,278.53-39.85,50.33-104.45,78-168.21,75.08-60.82-1.68-120.8-31.88-156.88-81.79-40.69-54.95-49.49-130.46-26.42-194.63,23.07-65.44,83.47-115.36,151.84-127.1m12.59,79.7a114.63,114.63,0,0,0-58.73,36.91c-40.27,47.82-38.59,125.84,4.62,171.56,25.58,27.26,65.43,40.69,102.34,33.14,32.72-6.29,62.08-28.11,78-57.47,27.27-50.33,19.3-119.13-23.49-158.14-27.26-25.16-67.11-35.23-102.76-26Z" transform="translate(0.01 -0.07)" />
                                <path d="M1633.39,253.85c48.24-30.2,112.42-38.59,164.43-12.59,16.36,7.13,29.78,19.3,42.78,31.46.42-11.32,0-23.07.42-34.81,28.11.42,56.21,0,84.74.42v370c-.42,55.79-14.69,114.94-55,155.62-44,44.89-111.58,58.73-172.4,49.5-65-9.65-121.65-57-146.82-117,25.17-12.16,51.6-21.81,77.6-33.14,14.69,34.4,44.47,63.76,81.8,70.47s80.54-2.51,104.87-33.55c26-31.88,26-75.51,24.74-114.52-19.29,18.88-41.52,35.66-68.37,42-58.3,16.36-122.48-3.78-167.36-43.21-45.31-39.43-72.15-100.25-69.64-160.65,1.26-68.37,39.85-134.23,98.16-169.88m86.83,53.69c-25.59,4.19-49.5,18.46-65.86,38.17-39.43,47-39.43,122.06.42,168.2,22.65,27.27,59.15,42.37,94.38,38.6,33.14-3.36,63.76-24.33,80.12-53.28,27.68-49.07,23.07-115.77-14.26-158.55-23.07-26.43-60-39.43-94.8-33.14Z" transform="translate(0.01 -0.07)" />
                                <path d="M2187.5,275.24c50.34-47,127.94-62.92,192.53-38.17,61.25,23.07,100.26,81.37,120,141.36-91,37.75-181.63,75.08-272.65,112.83,12.58,23.91,31.88,45.72,57.88,54.53,36.5,13,80.12,8.39,110.74-15.94,12.17-9.22,21.82-21.39,31-33.13,23.07,15.52,46.14,30.62,69.21,46.14-32.71,49.07-87.66,83.47-146.81,88.92-65.43,8-135.06-17.19-177.43-68.37-69.63-80.54-62.92-215.6,15.52-288.17m44.88,77.6c-14.26,20.55-20.13,45.72-19.71,70.47q91.23-37.76,182.46-75.92c-10.06-23.49-34.39-37.75-59.14-41.53C2296.14,298.73,2254.61,320.12,2232.38,352.84Z" transform="translate(0.01 -0.07)" />
                            </svg>
                        </div>
                        <p class="testimonial-quote text-primary">"Stripe Billing enabled us to launch our subscription product, eero Plus, on schedule and with billing fully integrated."</p>
                        <div class="testimonial-name">Mark Sieglock</div>
                        <div class="testimonial-position">Head of Business Operations</div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade" data-aos-delay="100">
                    <div class="testimonial p-lg-5">
                        <div class="testimonial-brand text-gray-400">
                            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2500 705.92" xmlns="http://www.w3.org/2000/svg">
                                <title>instagram</title>
                                <path
                                    d="M143.25,0c-22.87,0-52.51,24.24-70,40.38C34.82,74.55,0,137.29,0,187.65c0,71.56,60.86,98.57,76.25,98.57,5.08,0,9.4-2.62,9.4-9.51,0-5.39-3.42-9.89-6.83-14.5C64.73,240.66,60.2,220.1,60.2,192.37,60.2,134.54,86.87,81.54,109,57.28c4.08-4.39,13.3-13.87,16.06-13.87s3.41,2.23,3.41,9.12L125.89,431c0,59.17-17.07,82.67-17.07,96.61,0,6.12,2.65,7.71,7.71,7.71,24,0,47.84-29.21,54.6-39.86,21-36.23,26.12-64.51,26.12-146.09v-318c0-8.61-2.41-12.33-10.59-17.64C174.7,6.11,161,0,143.25,0Zm685,1.06C817,1.1,812.2,7,811.67,25.22l-2.5,75.47-66-2.29c-4-.1-5.81,1.17-7.56,4.69C730,113.6,727,121.83,727,135.55c0,11.16,5.06,12.35,9.58,12.35l68.68,2-.21,144.19c0,30.59-19.3,70.26-53.55,103.26a77.33,77.33,0,0,0,2.78-20.42c0-29.58-19-56.4-44.43-75.37l-62-46.61c13-15,35-44.83,35-70,0-19.51-12.27-27.7-35.14-27.7-32.27,0-69.7,29.55-69.7,73.4,0,16,7.11,30.36,17.91,41.36-14.92,28.32-36,65.57-51.71,92.1-11.84,20.31-31.87,51.43-43.73,51.43-8.74,0-12.77-13.75-12.77-66.57,0-43.89,3.11-91.6,4.68-137.4,0-10.5-1.72-20.19-15.35-29.68-12.54-8-28-19.25-44-19.25-35.46,0-59.61,32.62-76.18,64.53-17.15,33.06-26.42,60.92-39.5,101.35l1.44-139.13c.45-9.92-2.06-13.77-10-17.15-10.3-4.36-25.46-9.4-38.9-9.4-11.24,0-12.61,4.85-12.61,16.65L255.9,346.42l-.17,64.39c0,58.05,7.27,67.73,41.72,67.73,19.07,0,25.18-2.24,25.55-18.09.53-10.49,5.54-35.89,12.33-61.37,19.84-75.19,43.35-134.67,83.89-180,4.22-4.4,7.49-2.82,6.83,3.42,0,0-6.41,101.76-6.41,143.38,0,74,11.39,112.66,48.22,112.66,36.15,0,71.66-46.45,91-77.8l62.18-104c40.28,34.33,68.4,60.95,68.4,93.33,0,20.12-12.7,39.81-32,39.81-24.17,0-39.62-25.49-55.94-25.49-13.55,0-31,26.16-31,41,0,14,30.61,33.86,85.52,33.86,81.06,0,124.54-55.63,150.63-117.23,5,73.12,34.13,115.82,79.57,115.82,29.8,0,64.24-37.65,79.91-83.64,0,0,1.55,11.94,13.45,36.4,16.38,31.94,41.28,46.61,72.21,46.61,38.46,0,71.37-23.32,91.45-62.45,3,29.65,28,62.31,68,62.31,25.14,0,48-19.26,63.09-51,0,0,19.48,52.39,75.83,52.39,31.65,0,69.13-29.32,78.08-50.63l1,31L1345.65,536c-24.27,23.57-50.1,57.43-50.1,94.92,0,47.67,45,75.09,84.63,75.09,41.18,0,68.5-26.09,83.47-48,18.84-28.28,26.79-81.6,26.79-133.71l-1.86-78.36C1544.93,384,1589,298.39,1608.66,237.81l42.77-1.12c8.29-.56,7.88,2.7,6.73,7.53-7.52,31.77-14.08,67.75-14.08,103.57,0,59.2,13.63,84.95,33.23,106,17,17.64,34,23.59,51.82,23.59,34.88,0,56.77-28.8,63.72-47,16.38,31.94,40.51,46.82,71.43,46.82,38.47,0,71.37-23.32,91.46-62.45,3,29.65,27.94,62.31,68,62.31,29.91,0,47.26-17.26,60.91-49.78.27,10.46.67,21.61,1,32.06.36,5.41,4.69,8.84,8.56,10.25,12.71,4.81,23.87,7.22,33.9,7.22,26.15,0,31.82-5.37,31.82-22.46,0-28.2.83-72.74,8.84-108.5,8.5-35.61,21.34-75.91,39-104,1.6-2.9,5.51-2.14,5.68,1.37,2.54,60,6.55,161.59,22.32,187.89,7.77,12.54,19.8,21.68,37.8,21.68,8.44,0,18.79-3.59,21.44-5.84,2.68-2.09,4-4.42,3.87-8.73,0-76.71,23.92-151,47.88-200.91.66-1.48,2.53-1.6,2.46.35L2347.89,293c0,90.78,6.54,148.13,51.89,175.7a59.36,59.36,0,0,0,29.18,7.57,60.85,60.85,0,0,0,54.64-33.8c8.47-16.19,16.4-47.36,16.4-65,0-6.83.08-18-11.12-18-6.14,0-9.83,4.52-11.3,11.37-3.57,14.83-6.5,27.54-12,42.21-5.29,14-13.19,22.14-22.56,22.14-11,0-16.59-8.66-19.79-14-14-21.42-15.17-70.63-15.17-111.7l3.38-105.72c0-8.75-3.65-19.22-17.14-26.94-9.06-5.21-32-15-46-15-13,0-19.32,7.37-24,18.2-8.81,19.44-38.25,95.69-46.15,157.68-.28,1.63-2.32,2-2.46-.11-4.1-43.84-6.21-96.66-6.16-132.29,0-10.77-2.64-26.18-25.49-36.16-11.11-4.6-20.29-7.42-31.51-7.42-13.92,0-16.92,6.81-21.9,15.84-15.77,29.13-26.67,67.12-43,115l.25-109.66c0-5.13-3.14-11.85-12.15-13.66-22.32-5.13-32.66-7.46-41.46-7.46-6.41,0-9.93,5.1-9.93,10.63l-1.2,187c-4.32,22.89-21.82,77.52-46.65,77.52-20.38,0-29.89-20.65-29.89-107l3.7-140.25c0-8.86-5.81-12.58-14.29-16.34-12.12-4.81-21.76-6.72-34.08-6.72-15.46,0-20.76,7.4-17.64,25.17-17-23-34-35.7-64-35.7-60.26,0-105.68,72.49-105.68,177.82-.59,29.54,6.55,58.9,6.55,58.9-5.46,24.51-18.27,44.49-36,44.49-22.34,0-36.58-31.58-36.58-86.32,0-54.9,20.91-116.82,20.91-133.6,0-19.51-12.78-31.86-35.41-31.86-11.34,0-53.39,9.54-75,12.67,0,0,2.43-10.26,2.25-18.34,0-19.24-9-31.29-31.44-31.29-27.38,0-47.49,19.55-47.49,52.91,0,15,8.62,28.82,20,36.26-14.81,61.78-38.89,107.73-74.38,159.06L1491,189c0-6.76-1.8-11-15-16.09a83.33,83.33,0,0,0-32.77-6.52c-20.84,0-19.46,14.88-18.34,26-9.54-16.9-30.4-37-62.6-37-87.73,0-114.67,133.79-101.46,228.8,0,11.58-11.31,52.7-36.86,52.7-20.38,0-29.88-20.65-29.88-107l3.73-140.25c0-8.87-5.86-12.59-14.33-16.34-12.12-4.81-21.73-6.72-34-6.72-15.46,0-20.77,7.4-17.64,25.17-17-23-34-35.7-64-35.7-60.26,0-106.29,66.29-106.29,171.62,0,40.21-34.62,101.57-58.89,101.57-13.49,0-27.85-24.76-27.85-88,.07-43.11,5.95-189.89,5.95-189.89l84.74-1.37c4,0,6.38-4.46,7.88-7.18,3.89-7.9,5.77-13.15,5.77-22.6,0-8.53-1.7-11.64-12.63-12.25L882,103l3.59-78.68c.26-5-2.74-8.21-8.16-10.63C861,7.28,841,1.1,828.29,1.1Zm256.46,206.15c22.59,0,45.52,20.61,45.52,93.71,0,92.05-33.53,134.88-59.32,134.88-24.17,0-42.53-34.12-42.53-101.15,0-67.74,17.92-127.44,56.33-127.44Zm813.64,0c22.6,0,45.52,20.61,45.52,93.71,0,92.05-33.53,134.88-59.32,134.88-24.17,0-42.53-34.12-42.53-101.15,0-67.74,17.93-127.44,56.33-127.44Zm-516.06.43c29.49,0,42.53,30.39,42.53,89.31,0,88.83-26.4,139.4-58.47,139.4-20.48,0-44-33.61-42.78-99.73,0-42.27,13.79-129,58.72-129Zm49.92,297.16v35c0,116.1-30.94,135.92-55.8,135.92-9.42,0-32.49-7.11-32.49-35.84,0-40.15,42-85.83,55-99.94l33.26-35.13Z"
                                    transform="translate(0 -0.04)"
                                />
                            </svg>
                        </div>
                        <p class="testimonial-quote text-primary">"We implemented Stripe to introduce new billing and payment models and increased our trial conversion by 300%."</p>
                        <div class="testimonial-name">Sylvan Boucard</div>
                        <div class="testimonial-position">Payments Product Manager</div>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-6 mb-lg-n10 mb-5 mb-lg-0 z-1">
                    <a class="card text-decoration-none h-100 lift" [routerLink]=""
                        ><div class="card-body py-5">
                            <div class="d-flex align-items-center">
                                <div class="icon-stack icon-stack-xl bg-primary text-white flex-shrink-0"><i-feather name="activity"></i-feather></div>
                                <div class="ms-4">
                                    <h5 class="text-primary">Work smarter, not harder</h5>
                                    <p class="card-text text-gray-600">Learn more about how our product can save you time and effort in the long run!</p>
                                </div>
                            </div>
                        </div></a
                    >
                </div>
                <div class="col-lg-6 mb-lg-n10 z-1">
                    <a class="card text-decoration-none h-100 lift" [routerLink]=""
                        ><div class="card-body py-5">
                            <div class="d-flex align-items-center">
                                <div class="icon-stack icon-stack-xl bg-secondary text-white flex-shrink-0"><i-feather name="code"></i-feather></div>
                                <div class="ms-4">
                                    <h5 class="text-secondary">Built for developers</h5>
                                    <p class="card-text text-gray-600">Our components, utilities, and layouts are built with developers in mind.</p>
                                </div>
                            </div>
                        </div></a
                    >
                </div>
            </div>
        </div></sbpro-page-section
    ><sbpro-page-section sectionClasses="bg-light py-10"
        ><div class="container px-5 mt-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="h4 fw-normal">Ready to get started?</div>
                    <p class="lead mb-0 text-gray-500">Get in touch or create an account.</p>
                </div>
                <div class="col-lg-6 text-lg-end"><a class="btn btn-primary fw-500 me-3 my-2" [routerLink]="">Contact Sales</a><a class="btn btn-white my-2 fw-500" [routerLink]="">Create Account</a></div>
            </div>
        </div></sbpro-page-section
    >
    <hr class="m-0"
/></sbpro-layout-landing>
