footer.footer.pt-10.pb-5.mt-auto(
    [ngClass]='footerClasses'
)

    .container.px-5
        .row.gx-5
            .col-lg-3
                .footer-brand
                    | SB UI Kit Pro
                .mb-3 Build better websites
                .icon-list-social.mb-5
                    a.icon-list-social-link(href='javascript:void(0);')
                        fa-icon([icon]='["fab", "instagram"]')
                    a.icon-list-social-link(href='javascript:void(0);')
                        fa-icon([icon]='["fab", "facebook"]')
                    a.icon-list-social-link(href='javascript:void(0);')
                        fa-icon([icon]='["fab", "github"]')
                    a.icon-list-social-link(href='javascript:void(0);')
                        fa-icon([icon]='["fab", "twitter"]')

            .col-lg-9
                .row.gx-5
                    .col-lg-3.col-md-6.mb-5.mb-lg-0
                        .text-uppercase-expanded.text-xs.mb-4 Product
                        ul.list-unstyled.mb-0
                            li.mb-2
                                a(href='javascript:void(0);') Landing
                            li.mb-2
                                a(href='javascript:void(0);') Pages
                            li.mb-2
                                a(href='javascript:void(0);') Sections
                            li.mb-2
                                a(href='javascript:void(0);') Documentation
                            li
                                a(href='javascript:void(0);') Changelog
                    .col-lg-3.col-md-6.mb-5.mb-lg-0
                        .text-uppercase-expanded.text-xs.mb-4 Technical
                        ul.list-unstyled.mb-0
                            li.mb-2
                                a(href='javascript:void(0);') Documentation
                            li.mb-2
                                a(href='javascript:void(0);') Changelog
                            li.mb-2
                                a(href='javascript:void(0);') Theme Customizer
                            li
                                a(href='javascript:void(0);') UI Kit
                    .col-lg-3.col-md-6.mb-5.mb-md-0
                        .text-uppercase-expanded.text-xs.mb-4 Includes
                        ul.list-unstyled.mb-0
                            li.mb-2
                                a(href='javascript:void(0);') Utilities
                            li.mb-2
                                a(href='javascript:void(0);') Components
                            li.mb-2
                                a(href='javascript:void(0);') Layouts
                            li.mb-2
                                a(href='javascript:void(0);') Code Samples
                            li.mb-2
                                a(href='javascript:void(0);') Products
                            li.mb-2
                                a(href='javascript:void(0);') Affiliates
                            li
                                a(href='javascript:void(0);') Updates
                    .col-lg-3.col-md-6
                        .text-uppercase-expanded.text-xs.mb-4 Legal
                        ul.list-unstyled.mb-0
                            li.mb-2
                                a(href='javascript:void(0);') Privacy Policy
                            li.mb-2
                                a(href='javascript:void(0);') Terms and Conditions
                            li
                                a(href='javascript:void(0);') License
                        
        hr.my-5

        .row.gx-5.align-items-center

            .col-md-6.small
                | Copyright &copy; Your Website 2021
            .col-md-6.text-md-end.small
                a(href='javascript:void(0);') Privacy Policy
                | 
                | &middot;
                | 
                a(href='javascript:void(0);') Terms &amp; Conditions
