<sbpro-layout-landing footerClasses="bg-white footer-light"
    ><sb-top-nav topNavClasses="bg-white navbar-light" brandClasses="text-dark" buttonClasses="btn-primary"></sb-top-nav
    ><sbpro-page-header headerClasses="bg-img-repeat bg-secondary page-header-ui-dark" borderType="angled" borderClasses="text-wite" backgroundImage='url("https://www.transparenttextures.com/patterns/inspiration-geometry.png")'
        ><div class="page-header-ui-content">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="badge badge-marketing rounded-pill bg-secondary-soft text-secondary mb-3">Start today!</div>
                        <h1 class="page-header-ui-title">Get more leads, more customers, and more revenue</h1>
                        <p class="page-header-ui-text">Stop losing leads because of a non-optimized landing page. Start converting your users to paying customers and winning more sales today with a new landing page!</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="card rounded-3 text-dark">
                            <div class="card-header py-4">Sign up and get our free e-book!</div>
                            <div class="card-body">
                                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="mb-3 col-md-6"><label class="small text-gray-600" for="leadCapFirstName">First Name</label><input class="form-control" id="leadCapFirstName" data-cy="firstNameInput" type="text" formControlName="firstName" [class.is-valid]="firstNameControlValid" [class.is-invalid]="firstNameControlInvalid" /></div>
                                        <div class="invalid-feedback" *ngIf='firstNameControl.hasError("required")'>First Name required.</div>
                                        <div class="mb-3 col-md-6"><label class="small text-gray-600" for="leadCapLastName">Last Name</label><input class="form-control" id="leadCapLastName" data-cy="lastNameInput" type="text" formControlName="lastName" [class.is-valid]="lastNameControlValid" [class.is-invalid]="lastNameControlInvalid" /></div>
                                        <div class="invalid-feedback" *ngIf='lastNameControl.hasError("required")'>Last Name required.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="small text-gray-600" for="leadCapEmail">Email address</label><input class="form-control" id="leadCapEmail" data-cy="emailInput" type="email" formControlName="email" [class.is-valid]="emailControlValid" [class.is-invalid]="emailControlInvalid" />
                                        <div class="invalid-feedback" *ngIf='emailControl.hasError("required")'>Email required.</div>
                                        <div class="invalid-feedback" *ngIf='emailControl.hasError("email")'>Email is not valid.</div>
                                    </div>
                                    <div class="mb-0">
                                        <label class="small text-gray-600" for="leadCapCompany">Company or Organization</label><input class="form-control" id="leadCapCompany" data-cy="companyInput" type="text" formControlName="company" [class.is-valid]="companyControlValid" [class.is-invalid]="companyControlInvalid" />
                                        <div class="invalid-feedback" *ngIf='companyControl.hasError("required")'>Company or Organization required.</div>
                                    </div>
                                    <div class="d-grid"><button class="btn btn-primary fw-500 mt-4" data-cy="submitButton" type="submit" [disabled]="signupForm.invalid">Download Now</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #confirmationModal let-modal
            ><div class="modal-header">
                <h5 class="modal-title">Sing Up Form Data</h5>
                <div class="btn-close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></div>
            </div>
            <div class="modal-body">
                Wired up and ready to go. Just add a backend. <br /><br />
                firstName: <code>{{signupForm.value.firstName}}</code>
                <br />
                lastName: <code>{{signupForm.value.lastName}}</code>
                <br />
                email: <code>{{signupForm.value.email}}</code>
                <br />
                company: <code>{{signupForm.value.company}}</code> <br />
            </div>
            <div class="modal-footer"><button class="btn btn-primary" type="button" (click)="modal.close()">Close</button></div></ng-template
        ></sbpro-page-header
    ><sbpro-page-section sectionClasses="py-5 bg-white" borderType="angled" borderClasses="text-light"
        ><div class="container px-5">
            <div class="text-uppercase-expanded text-end mb-5 text-gray-300">Here's where you can find us</div>
            <div class="row gx-5 brands text-gray-500 align-items-center">
                <div class="col-6 col-sm-4 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0">
                    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2500.01 816.05" xmlns="http://www.w3.org/2000/svg">
                        <title>google</title>
                        <path d="M307.89.07h22.23c77.18,1.68,153.1,32.72,207.63,87.67-20.13,20.55-40.69,40.27-60.4,60.82-30.62-27.68-67.53-49.08-107.8-56.63C310,79.35,245.81,90.68,195.89,124.65c-54.53,35.66-91.44,96.06-99.41,160.66-8.81,63.76,9.22,130.87,50.75,180.37,39.85,48.23,100.67,78.44,163.59,80.53,58.73,3.36,120-14.68,162.75-55.79,33.56-28.94,49.08-73,54.11-115.77-69.63,0-139.26.42-208.89,0V288.24H612c15.1,92.7-6.71,197.15-77.18,263.43-47,47-112,74.66-178.28,80.11-64.17,6.3-130.45-5.87-187.5-36.91C100.67,558.38,46.14,496.72,19.3,424.15-5.87,357.45-6.29,282,17.2,214.84,38.59,153.6,79.7,99.48,132.55,61.73,183.31,24.4,245,3.85,307.89.07Z" transform="translate(0.01 -0.07)" />
                        <path d="M1989.93,21.88h89.77v599c-29.78,0-60,.42-89.77-.42.42-199.25,0-398.91,0-598.58Z" transform="translate(0.01 -0.07)" />
                        <path d="M811.66,229.52C867,219,927,230.78,972.73,263.91c41.53,29.37,70.47,75.51,79.28,125.84,11.33,58.31-2.93,122.07-40.68,168.21-40.69,51.59-107.39,79.28-172.4,75.08-59.57-3.35-117.45-33.14-152.69-81.79-39.85-53.69-49.5-127.52-27.68-190.44,21.81-67.53,83.47-119.13,153.1-131.29m12.58,79.7a112.72,112.72,0,0,0-58.72,37.33c-40.69,48.66-38.17,127.93,6.71,173.24,25.59,26,64.18,38.17,99.83,31,33.14-5.88,62.08-28.11,78-57.47,27.69-49.92,19.72-118.71-22.65-157.72-27.26-25.17-67.11-35.65-103.19-26.42Z" transform="translate(0.01 -0.07)" />
                        <path d="M1256.29,229.52c63.34-12.17,132.55,5.45,180,49.91,77.18,69.22,85.57,198.83,19.72,278.53-39.85,50.33-104.45,78-168.21,75.08-60.82-1.68-120.8-31.88-156.88-81.79-40.69-54.95-49.49-130.46-26.42-194.63,23.07-65.44,83.47-115.36,151.84-127.1m12.59,79.7a114.63,114.63,0,0,0-58.73,36.91c-40.27,47.82-38.59,125.84,4.62,171.56,25.58,27.26,65.43,40.69,102.34,33.14,32.72-6.29,62.08-28.11,78-57.47,27.27-50.33,19.3-119.13-23.49-158.14-27.26-25.16-67.11-35.23-102.76-26Z" transform="translate(0.01 -0.07)" />
                        <path d="M1633.39,253.85c48.24-30.2,112.42-38.59,164.43-12.59,16.36,7.13,29.78,19.3,42.78,31.46.42-11.32,0-23.07.42-34.81,28.11.42,56.21,0,84.74.42v370c-.42,55.79-14.69,114.94-55,155.62-44,44.89-111.58,58.73-172.4,49.5-65-9.65-121.65-57-146.82-117,25.17-12.16,51.6-21.81,77.6-33.14,14.69,34.4,44.47,63.76,81.8,70.47s80.54-2.51,104.87-33.55c26-31.88,26-75.51,24.74-114.52-19.29,18.88-41.52,35.66-68.37,42-58.3,16.36-122.48-3.78-167.36-43.21-45.31-39.43-72.15-100.25-69.64-160.65,1.26-68.37,39.85-134.23,98.16-169.88m86.83,53.69c-25.59,4.19-49.5,18.46-65.86,38.17-39.43,47-39.43,122.06.42,168.2,22.65,27.27,59.15,42.37,94.38,38.6,33.14-3.36,63.76-24.33,80.12-53.28,27.68-49.07,23.07-115.77-14.26-158.55-23.07-26.43-60-39.43-94.8-33.14Z" transform="translate(0.01 -0.07)" />
                        <path d="M2187.5,275.24c50.34-47,127.94-62.92,192.53-38.17,61.25,23.07,100.26,81.37,120,141.36-91,37.75-181.63,75.08-272.65,112.83,12.58,23.91,31.88,45.72,57.88,54.53,36.5,13,80.12,8.39,110.74-15.94,12.17-9.22,21.82-21.39,31-33.13,23.07,15.52,46.14,30.62,69.21,46.14-32.71,49.07-87.66,83.47-146.81,88.92-65.43,8-135.06-17.19-177.43-68.37-69.63-80.54-62.92-215.6,15.52-288.17m44.88,77.6c-14.26,20.55-20.13,45.72-19.71,70.47q91.23-37.76,182.46-75.92c-10.06-23.49-34.39-37.75-59.14-41.53C2296.14,298.73,2254.61,320.12,2232.38,352.84Z" transform="translate(0.01 -0.07)" />
                    </svg>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0">
                    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2499.17 585" xmlns="http://www.w3.org/2000/svg">
                        <title>product-hunt</title>
                        <g id="Page-1">
                            <g id="product-hunt-logo-horizontal-orange">
                                <path d="M585.54,292.5C585.54,454.11,454.64,585,293,585S.54,454.11.54,292.5,131.43,0,293,0s292.5,130.89,292.5,292.5m-253.5,0H249.16V204.75H332a43.88,43.88,0,0,1,0,87.75m0-146.25H190.66v292.5h58.5V351H332a102.38,102.38,0,0,0,0-204.75" transform="translate(-0.54)" />
                                <path d="M892.91,256.67c0-16.09-12.43-25.84-28.52-25.84H821.24v51.43h43.15C880.48,282.26,892.91,272.51,892.91,256.67ZM780.54,390V195h89.7c41.68,0,64.35,28,64.35,61.67,0,33.39-22.91,61.42-64.35,61.42H821.49V390Z" id="Fill-5" transform="translate(-0.54)" />
                                <path d="M959.21,390V247.89h36.56v18.77c10-11.94,27.06-22.18,44.36-22.18v35.59a55.68,55.68,0,0,0-10-.73c-12.19,0-28.28,6.82-34.13,15.84v95.06h-36.8Z" id="Fill-7" transform="translate(-0.54)" />
                                <path d="M1162.74,317.12c0-21.45-12.68-40.22-35.59-40.22-22.67,0-35.34,18.77-35.34,40.22,0,21.94,12.67,40.46,35.34,40.46,22.91,0,35.59-18.77,35.59-40.46m-109,0c0-39.24,27.55-72.64,73.13-72.64,46.07,0,73.61,33.4,73.61,72.64S1173,390,1126.91,390c-45.58,0-73.13-33.64-73.13-72.88" id="Fill-9" transform="translate(-0.54)" />
                                <path d="M1323.37,341.74v-49c-6.09-9.26-19.26-15.84-31.2-15.84-21,0-35.34,16.33-35.34,40.22,0,24.13,14.38,40.46,35.34,40.46,11.94,0,25.11-6.58,31.2-15.84Zm0,48.26V368.79c-11,13.9-25.84,21.21-42.9,21.21-34.86,0-61.43-26.33-61.43-72.88,0-45.09,26.09-72.64,61.43-72.64a52.84,52.84,0,0,1,42.9,21.21V195h36.81V390Z" id="Fill-11" transform="translate(-0.54)" />
                                <path d="M1489.85,390V369a66.28,66.28,0,0,1-48.75,21c-30.47,0-44.85-16.58-44.85-43.63V247.89h36.56V332c0,19.25,10,25.59,25.6,25.59,14.13,0,25.35-7.8,31.68-15.84V247.89h36.57V390Z" id="Fill-13" transform="translate(-0.54)" />
                                <path d="M1553.71,317.12c0-42.41,31-72.64,73.62-72.64,28.51,0,45.58,12.43,54.84,25.11L1658.28,292c-6.58-9.75-16.57-14.87-29.25-14.87-22.18,0-37.54,16.09-37.54,40.22s15.6,40.47,37.54,40.47a34.8,34.8,0,0,0,29.25-15.12l23.89,22.43c-9.26,12.67-26.33,25.35-54.84,25.35-42.66-.49-73.62-30.71-73.62-73.37" id="Fill-15" transform="translate(-0.54)" />
                                <path d="M1713.61,351.73V279.58H1690.7V247.65h22.91V209.87h36.57v38h28v31.93h-28v62.4c0,9,4.63,15.6,12.67,15.6,5.36,0,10.73-1.95,12.68-4.38l7.8,27.78c-5.37,4.88-15.12,9-30.47,9-25.84-.24-39.25-13.4-39.25-38.51" id="Fill-17" transform="translate(-0.54)" />
                                <path d="M2011.72,390V305.91h-90.43V390h-40.71V195h40.71v75.32h90.43V195h41.19V390Z" id="Fill-19" transform="translate(-0.54)" />
                                <path d="M2183.32,390V369a66.28,66.28,0,0,1-48.75,21c-30.47,0-44.85-16.58-44.85-43.63V247.89h36.56V332c0,19.25,10,25.59,25.6,25.59,14.13,0,25.35-7.8,31.68-15.84V247.89h36.57V390Z" id="Fill-21" transform="translate(-0.54)" />
                                <path d="M2349.56,390V302.74c0-19.26-10-25.84-25.6-25.84-14.38,0-25.35,8-31.68,16.09v97h-36.57V247.89h36.57v17.8c9-10.24,26.08-21.21,48.5-21.21,30.71,0,45.34,17.31,45.34,44.12V390Z" id="Fill-23" transform="translate(-0.54)" />
                                <path d="M2430,351.73V279.58h-22.91V247.65H2430V209.87h36.57v38h28v31.93h-28v62.4c0,9,4.63,15.6,12.67,15.6,5.36,0,10.73-1.95,12.68-4.38l7.8,27.78c-5.37,4.88-15.12,9-30.47,9-25.84-.24-39.25-13.4-39.25-38.51" id="Fill-25" transform="translate(-0.54)" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0">
                    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 1701.12 416.6" xmlns="http://www.w3.org/2000/svg">
                        <title>mailchimp</title>
                        <path
                            d="M477.52,202.2Zm1143.4,103.7h.6c34.4,0,58.7-23.9,58.9-58,.1-16.9-4.8-32.4-13.8-43.6-9.5-11.8-22.8-18.1-38.5-18.3h-.3c-21.2,0-40.8,16.1-60.1,49.1l-1.5,2.6-1-2.9c-4.9-14.2-9.2-26-11.8-33-1.8-4.9-2.6-7.1-2.8-7.9-.9-3.6-4-5.8-8-5.8a14.14,14.14,0,0,0-7.6,2.4,8.84,8.84,0,0,0-4.3,6l-.1.4c-19.3,60.2-35.2,89.4-48.7,89.4a5.94,5.94,0,0,1-4.6-1.9c-3.5-3.9-2.7-13.2-1.5-26,.9-9.4,1.9-20.1,1.5-31.4-.8-21.8-12.7-34.9-31.9-35-24.4,0-40.1,25.9-47.4,41.4l-2.2,4.6-.5-5.1c-1.8-19.1-8.2-42-28.5-42.1-23.7,0-41.7,27.7-52.7,51l-2.9,6.2.3-6.9c1.3-31.1,2.4-49.4,3.2-54.5s.4-8.5-1.3-10.5c-1.6-1.8-4.6-2.5-8.9-2.2-7.6.5-11.4,5.1-17.3,20.5-9.6,25.4-33.9,84.4-53.4,84.4a11.58,11.58,0,0,1-9.2-3.9c-8.2-9.3-4.9-34.6-.4-69.6l.3-2.6c2.1-16.6-1.5-20.1-10.5-21.7a12.41,12.41,0,0,0-2.7-.3c-7.2,0-10.5,6.9-17.2,26-11.9,34-27.3,69.8-45.2,69.8a13.55,13.55,0,0,1-2-.2c-9.5-1.6-9.3-15.7-9-33.6.1-9.7.3-20.6-1.2-30.5-2.7-17.8-13.1-28.8-27.3-29-28.3,0-47.3,36.2-56.2,57.8l-2,4.9-.7-5.2c-1.7-13.9-2.9-27.8-3.4-41.7v-.5l.3-.4c52.9-66.6,76.6-114.7,77-155.8C1124.62,16,1112.52.2,1092,0c-15,0-50.7,12.5-63.1,128.3a649.91,649.91,0,0,0-3.7,65.4v.4l-.2.3c-24.2,35-75.9,95.3-126.4,95.3-45.7,0-82.2-37-82.2-102.2,0-87.5,61.9-141.2,108.5-141.2h.4c10.1.1,18.8,2.9,25.1,8.2a27.68,27.68,0,0,1,9.9,22.2c-.1,12.1-4,18.3-7.8,24.3-1,1.5-1.9,3.1-2.8,4.7s-1.7,4-.5,6.1,4.4,3.4,8.2,3.4c11.1,0,27.9-16.1,28-40.2.2-25.3-21.1-51.4-59.2-51.4C868.62,23.6,791,86.9,791,189.4c0,72.5,45.5,122.7,107.1,122.7,43.7,0,87-31.3,125.2-83.6l2.3-3.2.2,3.9c.8,19.1,2.2,34.2,3.2,45.2.7,7.1,1.1,12.2,1.1,15-.1,6.2,1,10.5,3.1,13.1s5.5,3.9,10.6,3.9c8.6,0,10.3-5.9,13.7-20.3l1-4.1c4.2-17.5,19.9-74.7,43.4-74.7a11.82,11.82,0,0,1,8.9,3.4c5.2,5.5,4.6,16.8,4,29.9-.4,8.2-.8,16.6,0,24.8,2.2,22.2,11.8,33,29.3,33.2,18,0,36.7-19.3,46.6-37.3l1.9-3.4.7,3.8c1.8,9.6,10,41.2,35.6,41.2,23.2,0,43.1-24.4,64.8-74.6l2.9-6.6-.2,7.2c-.5,19-1.5,42.3-1.5,60.2,0,13.9,1.4,19.2,7.8,19.2l1.5.1c6.2,0,10.3-3.7,12.4-11,16.4-57.2,30.6-83.8,44.6-83.8,13.7.1,15,25.2,16.1,69.7l.1,3.1c.3,15.5.9,22.4,10.5,22.5,7.3,0,9.1-5.8,12.9-19.9.7-2.7,1.5-5.7,2.4-8.9,13.2-45.9,24.2-64.7,37.9-64.7,11.7.1,12.3,12.1,12.6,16.1.5,8.5-.4,17.4-1.3,26-.8,8-1.6,16.2-1.3,23.9.7,18,10.6,27.9,27.7,28.1,22.3,0,42.3-26,59.9-77.4l1.2-3.6,1.4,3.5c3.2,8.1,7.4,19,11.2,32l.1.5-.2.5c-17,37.8-29.1,80-29.2,102.5-.2,29.7,13.2,48.9,34.2,49.1h.4c11.4,0,38-4.6,38.6-47,.2-17.4-3.9-42-12.2-73.1l-1-3.6,3.1,2a62.44,62.44,0,0,0,34.6,11ZM1047.22,162c.5-10.6,1.4-21,2.6-30.8,8.2-63.1,25.4-107.1,41.8-107.1h.1c7.8.1,11.7,6,11.6,17.6-.2,28.5-18.3,69.3-53.6,121.2l-2.8,4.1.3-5ZM1570,388.8a12.66,12.66,0,0,1-10.8,5.2c-5.2,0-9.2-1.9-11.8-5.4-7.5-10-5.4-33.5,6.8-76.1,1.5-5.1,3-10.2,4.7-15.2l1.4-4.3,1.2,4.3C1575.82,346.5,1578.72,377.3,1570,388.8Zm4.5-126.1-.3-.5-.5-1.6.2-.5c16.2-33.4,34.8-52.6,51-52.6h.2c18.3.1,30.9,16.6,30.7,39.9-.1,15.6-7,24.6-12.7,29.4a37.84,37.84,0,0,1-23.9,8.6c-21.5-.1-36.2-12.4-44.7-22.7Zm50.4-53.8ZM540.12,300.4c25-2,44.9-36,52.3-50.6l1.9-3.8.7,4.1c3.5,20.5,14.7,54.8,49.5,55.1h.3c15.1,0,32.1-9.2,49.4-26.6l1.3-1.3.9,1.5c11.6,19.4,27.2,29.8,43.8,28.9,24.4-1.3,39.3-18.6,40.6-30.6a10.36,10.36,0,0,0-2.2-7.9c-2.2-2.5-5.4-2.7-7.7-.5l-1.1,1.1c-5.7,5.5-16.3,15.6-27.8,16.2-14.1.7-24.6-7.8-31.4-25.2l-.3-.7.5-.6C749.72,208.6,777,131,774.32,79c-1.2-24.1-8.2-52.8-34.6-52.8h-2c-10.1.5-19.2,5.3-27.2,14.3-24.4,27.3-37.2,94.5-32.5,171.3a175,175,0,0,0,8.2,44.3l.3.8-.5.6c-14.4,16.9-28.7,26.1-40.1,26.1-27.5,0-26.6-46.1-24.4-84.3.5-8.2,1.2-13.5-1.3-16.5-1.7-2.1-4.7-3.2-8.9-3.2h-.5c-9.8,0-11.8,2-16.8,16.5-10.4,30.2-31,80.8-51.6,80.8-5.7-.1-10.1-2-13.1-5.8-10-12.8-2.4-44.7,3.7-70.4,1.1-4.6,2.2-9,3.1-13.1q1.95-9.15-1.2-13.2c-2.2-2.7-6.5-3.8-12.1-3.3-8.9.7-14.5,4.4-17.3,21.3l-.6,3.5-2.1-2.5c-3.9-5.7-11.4-12.5-25.4-12.5-1.2,0-2.5.1-3.8.2-14.9,1.2-31.9,11.6-44.4,27.2a90.7,90.7,0,0,0-19.5,64.6c.1,1.2.3,2.4.5,3.6l.1.7-.5.5c-8.7,9.5-17.5,14.3-26.3,14.3-13.5-.1-21.3-10.2-21.3-26.9,0-28.2,19.1-113.3,19.1-144.1,0-32.8-14.6-50.6-40-50.8h-.4c-37,0-65.9,42-93.5,128.5-2.6,8.3-5.2,16.6-7.6,25l-3.9,13,1.1-13.5q3.75-43.5,5.2-87.1c1.4-41.8-4.3-68.7-17.3-82.2-7-7.3-16.3-10.9-28.4-11h-.3c-45.3,0-67,76.4-82.9,130.4-4.8,16.3-14.2,53-20.5,78.1l3.7-6c2.8-31.6,10.9-110.8,10.3-153.8-.6-46.1-15.9-66.8-49.8-67h-.4c-18.1,0-30.6,9-38,16.5C6.92,52.8-.38,70.5,0,85.8c.2,9.3,5.9,17.5,10.3,17.5,2.8,0,4.4-3.8,5-6,10.5-34.6,24-51.5,41.4-51.5,7.2.1,12.6,2.2,16.6,6.5,13.6,14.6,11.1,53.9,6.6,125.4-1.4,23-3.1,49.1-4.5,78.8q-.3,7.35-.9,14.7c-1.3,20.6-2.4,36.9,5.4,38.1,10.2,1.6,16.8-2.5,20.2-12.6,5-14.9,16.3-55.8,38.1-130.4,20.9-71.6,36.7-97.7,57-97.7,23.4,0,25.1,40.1,20.8,124.8-.9,17.9-2.1,38.3-3.1,60.4-.1,3.1-.3,6.1-.4,9-.9,18.3-1.6,32.8,3.6,38.3a9,9,0,0,0,6.8,2.6c10.1,0,13.2-8.9,18.2-23.6.9-2.6,1.8-5.4,2.9-8.3,34.7-95.7,60.4-178.8,94.8-178.8,10.3,0,18.4,8.4,18.4,24.8,0,37.8-18.5,110.8-18.5,147.8,0,13.3,3.8,25.2,11,33.5,7.4,8.6,17.8,13.2,29.9,13.3h.3c11.5,0,23.5-5.6,35.7-16.6l1.1-1,.9,1.2c8,10.8,20.9,16.6,34.9,15.5,21.4-1.7,39.4-20.7,46.1-38.7l1.3-3.5,1.3,3.5c5.2,13.4,16,29.5,38.9,27.6ZM737.42,50.2h.4a8,8,0,0,1,6.4,3.6c8.5,11.5,8.6,53.4-6,101.2-8.4,27.3-19.6,53-32.5,74.5l-2.1,3.4-.5-4c-1.5-11.5-2.3-23.6-2.8-33.8-3.7-72,18.1-143.9,37.1-144.9ZM499.92,218.8c-7.5,30.1-21.9,66.5-47.8,68.6l-2.1.1c-10.7,0-16.8-7-17.9-20.9-1.4-17.4,6.1-37.7,19.1-51.8,8.3-9,17.6-13.9,26.3-13.9h.2c11,.1,18.6,8.9,22.2,17.1l.2.4-.2.4ZM620,108.3a16.9,16.9,0,1,0-.3,33.8l.1,1.4v-1.4A17.12,17.12,0,0,0,637,125.3c.2-9.3-7.5-16.9-17-17Zm601.2,0a16.9,16.9,0,1,0-.3,33.8l.1,1.4v-1.4a17.05,17.05,0,0,0,17.2-16.8c.2-9.3-7.5-16.9-17-17Z"
                        />
                        <path d="M1689.42,286.8a11.75,11.75,0,1,0,11.7,11.8A11.74,11.74,0,0,0,1689.42,286.8Zm0,21.8a10,10,0,1,1,10-10A10,10,0,0,1,1689.42,308.6Zm5.2-13.1c0-2.4-1.2-3.8-4.3-3.8h-5.2v13.5h1.7v-5.9h2.4l4,5.9h1.9l-4-5.9C1693.12,299,1694.62,298,1694.62,295.5Zm-5.5,2.3h-2.2v-4.6h3c1.5,0,3,.5,3,2.2C1692.92,297.7,1690.92,297.8,1689.12,297.8Z" />
                    </svg>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 d-flex justify-content-center mb-5 mb-sm-0">
                    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2500 705.92" xmlns="http://www.w3.org/2000/svg">
                        <title>instagram</title>
                        <path
                            d="M143.25,0c-22.87,0-52.51,24.24-70,40.38C34.82,74.55,0,137.29,0,187.65c0,71.56,60.86,98.57,76.25,98.57,5.08,0,9.4-2.62,9.4-9.51,0-5.39-3.42-9.89-6.83-14.5C64.73,240.66,60.2,220.1,60.2,192.37,60.2,134.54,86.87,81.54,109,57.28c4.08-4.39,13.3-13.87,16.06-13.87s3.41,2.23,3.41,9.12L125.89,431c0,59.17-17.07,82.67-17.07,96.61,0,6.12,2.65,7.71,7.71,7.71,24,0,47.84-29.21,54.6-39.86,21-36.23,26.12-64.51,26.12-146.09v-318c0-8.61-2.41-12.33-10.59-17.64C174.7,6.11,161,0,143.25,0Zm685,1.06C817,1.1,812.2,7,811.67,25.22l-2.5,75.47-66-2.29c-4-.1-5.81,1.17-7.56,4.69C730,113.6,727,121.83,727,135.55c0,11.16,5.06,12.35,9.58,12.35l68.68,2-.21,144.19c0,30.59-19.3,70.26-53.55,103.26a77.33,77.33,0,0,0,2.78-20.42c0-29.58-19-56.4-44.43-75.37l-62-46.61c13-15,35-44.83,35-70,0-19.51-12.27-27.7-35.14-27.7-32.27,0-69.7,29.55-69.7,73.4,0,16,7.11,30.36,17.91,41.36-14.92,28.32-36,65.57-51.71,92.1-11.84,20.31-31.87,51.43-43.73,51.43-8.74,0-12.77-13.75-12.77-66.57,0-43.89,3.11-91.6,4.68-137.4,0-10.5-1.72-20.19-15.35-29.68-12.54-8-28-19.25-44-19.25-35.46,0-59.61,32.62-76.18,64.53-17.15,33.06-26.42,60.92-39.5,101.35l1.44-139.13c.45-9.92-2.06-13.77-10-17.15-10.3-4.36-25.46-9.4-38.9-9.4-11.24,0-12.61,4.85-12.61,16.65L255.9,346.42l-.17,64.39c0,58.05,7.27,67.73,41.72,67.73,19.07,0,25.18-2.24,25.55-18.09.53-10.49,5.54-35.89,12.33-61.37,19.84-75.19,43.35-134.67,83.89-180,4.22-4.4,7.49-2.82,6.83,3.42,0,0-6.41,101.76-6.41,143.38,0,74,11.39,112.66,48.22,112.66,36.15,0,71.66-46.45,91-77.8l62.18-104c40.28,34.33,68.4,60.95,68.4,93.33,0,20.12-12.7,39.81-32,39.81-24.17,0-39.62-25.49-55.94-25.49-13.55,0-31,26.16-31,41,0,14,30.61,33.86,85.52,33.86,81.06,0,124.54-55.63,150.63-117.23,5,73.12,34.13,115.82,79.57,115.82,29.8,0,64.24-37.65,79.91-83.64,0,0,1.55,11.94,13.45,36.4,16.38,31.94,41.28,46.61,72.21,46.61,38.46,0,71.37-23.32,91.45-62.45,3,29.65,28,62.31,68,62.31,25.14,0,48-19.26,63.09-51,0,0,19.48,52.39,75.83,52.39,31.65,0,69.13-29.32,78.08-50.63l1,31L1345.65,536c-24.27,23.57-50.1,57.43-50.1,94.92,0,47.67,45,75.09,84.63,75.09,41.18,0,68.5-26.09,83.47-48,18.84-28.28,26.79-81.6,26.79-133.71l-1.86-78.36C1544.93,384,1589,298.39,1608.66,237.81l42.77-1.12c8.29-.56,7.88,2.7,6.73,7.53-7.52,31.77-14.08,67.75-14.08,103.57,0,59.2,13.63,84.95,33.23,106,17,17.64,34,23.59,51.82,23.59,34.88,0,56.77-28.8,63.72-47,16.38,31.94,40.51,46.82,71.43,46.82,38.47,0,71.37-23.32,91.46-62.45,3,29.65,27.94,62.31,68,62.31,29.91,0,47.26-17.26,60.91-49.78.27,10.46.67,21.61,1,32.06.36,5.41,4.69,8.84,8.56,10.25,12.71,4.81,23.87,7.22,33.9,7.22,26.15,0,31.82-5.37,31.82-22.46,0-28.2.83-72.74,8.84-108.5,8.5-35.61,21.34-75.91,39-104,1.6-2.9,5.51-2.14,5.68,1.37,2.54,60,6.55,161.59,22.32,187.89,7.77,12.54,19.8,21.68,37.8,21.68,8.44,0,18.79-3.59,21.44-5.84,2.68-2.09,4-4.42,3.87-8.73,0-76.71,23.92-151,47.88-200.91.66-1.48,2.53-1.6,2.46.35L2347.89,293c0,90.78,6.54,148.13,51.89,175.7a59.36,59.36,0,0,0,29.18,7.57,60.85,60.85,0,0,0,54.64-33.8c8.47-16.19,16.4-47.36,16.4-65,0-6.83.08-18-11.12-18-6.14,0-9.83,4.52-11.3,11.37-3.57,14.83-6.5,27.54-12,42.21-5.29,14-13.19,22.14-22.56,22.14-11,0-16.59-8.66-19.79-14-14-21.42-15.17-70.63-15.17-111.7l3.38-105.72c0-8.75-3.65-19.22-17.14-26.94-9.06-5.21-32-15-46-15-13,0-19.32,7.37-24,18.2-8.81,19.44-38.25,95.69-46.15,157.68-.28,1.63-2.32,2-2.46-.11-4.1-43.84-6.21-96.66-6.16-132.29,0-10.77-2.64-26.18-25.49-36.16-11.11-4.6-20.29-7.42-31.51-7.42-13.92,0-16.92,6.81-21.9,15.84-15.77,29.13-26.67,67.12-43,115l.25-109.66c0-5.13-3.14-11.85-12.15-13.66-22.32-5.13-32.66-7.46-41.46-7.46-6.41,0-9.93,5.1-9.93,10.63l-1.2,187c-4.32,22.89-21.82,77.52-46.65,77.52-20.38,0-29.89-20.65-29.89-107l3.7-140.25c0-8.86-5.81-12.58-14.29-16.34-12.12-4.81-21.76-6.72-34.08-6.72-15.46,0-20.76,7.4-17.64,25.17-17-23-34-35.7-64-35.7-60.26,0-105.68,72.49-105.68,177.82-.59,29.54,6.55,58.9,6.55,58.9-5.46,24.51-18.27,44.49-36,44.49-22.34,0-36.58-31.58-36.58-86.32,0-54.9,20.91-116.82,20.91-133.6,0-19.51-12.78-31.86-35.41-31.86-11.34,0-53.39,9.54-75,12.67,0,0,2.43-10.26,2.25-18.34,0-19.24-9-31.29-31.44-31.29-27.38,0-47.49,19.55-47.49,52.91,0,15,8.62,28.82,20,36.26-14.81,61.78-38.89,107.73-74.38,159.06L1491,189c0-6.76-1.8-11-15-16.09a83.33,83.33,0,0,0-32.77-6.52c-20.84,0-19.46,14.88-18.34,26-9.54-16.9-30.4-37-62.6-37-87.73,0-114.67,133.79-101.46,228.8,0,11.58-11.31,52.7-36.86,52.7-20.38,0-29.88-20.65-29.88-107l3.73-140.25c0-8.87-5.86-12.59-14.33-16.34-12.12-4.81-21.73-6.72-34-6.72-15.46,0-20.77,7.4-17.64,25.17-17-23-34-35.7-64-35.7-60.26,0-106.29,66.29-106.29,171.62,0,40.21-34.62,101.57-58.89,101.57-13.49,0-27.85-24.76-27.85-88,.07-43.11,5.95-189.89,5.95-189.89l84.74-1.37c4,0,6.38-4.46,7.88-7.18,3.89-7.9,5.77-13.15,5.77-22.6,0-8.53-1.7-11.64-12.63-12.25L882,103l3.59-78.68c.26-5-2.74-8.21-8.16-10.63C861,7.28,841,1.1,828.29,1.1Zm256.46,206.15c22.59,0,45.52,20.61,45.52,93.71,0,92.05-33.53,134.88-59.32,134.88-24.17,0-42.53-34.12-42.53-101.15,0-67.74,17.92-127.44,56.33-127.44Zm813.64,0c22.6,0,45.52,20.61,45.52,93.71,0,92.05-33.53,134.88-59.32,134.88-24.17,0-42.53-34.12-42.53-101.15,0-67.74,17.93-127.44,56.33-127.44Zm-516.06.43c29.49,0,42.53,30.39,42.53,89.31,0,88.83-26.4,139.4-58.47,139.4-20.48,0-44-33.61-42.78-99.73,0-42.27,13.79-129,58.72-129Zm49.92,297.16v35c0,116.1-30.94,135.92-55.8,135.92-9.42,0-32.49-7.11-32.49-35.84,0-40.15,42-85.83,55-99.94l33.26-35.13Z"
                            transform="translate(0 -0.04)"
                        />
                    </svg>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 d-flex justify-content-center">
                    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2498.04 632" xmlns="http://www.w3.org/2000/svg">
                        <title>pinterest</title>
                        <path
                            d="M574.55,222.78c27.1,0,53.11-22.57,57.63-50.41,5.35-27.1-13-49.66-40.11-49.66s-53.1,22.56-57.7,49.66C529.09,200.21,546.71,222.78,574.55,222.78ZM2414,303.32h60.64c8.31,0,13.17-3.37,15.05-11.13q4.35-18,8.95-36c1.79-7-2.27-12.27-10-12.27h-59.83c4.31-17.14,21.09-72.81,21.09-109.11C2449.85,62.36,2388.3.7,2301,.7c-98.63,0-162.8,66.19-162.8,159.33,0,27.17,10.14,58.83,22.7,78.48q-8.11-.47-16.24-.46c-74.94,0-122.15,40.65-122.15,99.81,0,55.52,43.77,77.09,85,91.45,36.61,12.75,70.31,18.69,70.31,47.28,0,19.28-18.54,30.6-54.84,30.6-43.06,0-66.73-20.28-72.75-28,4.08-3.2,10.15-10.83,10.15-23.55,0-17.79-12.49-32.31-35.7-32.31-19.63,0-36.23,16-40.4,37.08-31.54,25.8-66,42.52-114.78,42.52-48.06,0-73-25-73-78.2,11.27,3.43,40.61,7.55,60,7.55,81.39,0,136.86-37,136.86-111,0-39.83-35-81.65-104.12-81.65H1889c-91,0-141.92,57.62-164.17,121q-9.35-2.25-18.73-4.37a144.59,144.59,0,0,0,8.55-48.41c0-31.3-19.38-68.22-71.26-68.22-36.13,0-70.41,23.67-94.16,59.14,5.91-23.14,9.83-38.55,10.08-39.58,1.55-6.05-1-12.79-10.41-12.79h-53.24c-7.59,0-12.94,2.68-15.1,11.32-1.45,5.76-19.74,77.53-37.55,147.42-11.21,43.58-69.24,97.82-142.17,97.82-48.08,0-73-26.64-73-79.86,12.58,5,40.61,9.21,60,9.21,84.7,0,136.86-37,136.86-111,0-39.82-35-81.64-104.13-81.64h-.15c-102.43,0-165.18,79.56-175.81,169.77-4.42,37.5-36.07,89-70.38,89-16.72,0-26-10.5-26-28.32,0-15.4,10.84-53,22.71-100.21,4-15.78,10-39.86,16.72-66.53h55.69c8.29,0,13.15-3.37,15-11.13,2.67-11.16,7.56-30.64,9-36,1.79-7-2.25-12.27-10-12.27h-54.76s25.21-100.59,25.81-103.17c2.43-10.23-6.13-16.14-15.09-14.25,0,0-42.32,8.28-50.17,9.92s-14,5.93-16.87,17.3L1023.78,244h-44c-8.29,0-13.16,3.39-15,11.12q-4.38,18-8.94,36c-1.82,7,2.24,12.27,10,12.27H1009c-.3,1.23-15.57,59.32-27.92,111.33-5.82,25-25.29,83.55-57.17,83.55-19,0-27.09-9.61-27.09-30.22,0-32.45,31.94-113.69,31.94-150.55,0-49.24-26.42-77.77-80.54-77.77-34.11,0-69.48,22-84.47,41.36,0,0,4.55-15.83,6.1-21.91,1.66-6.43-1.78-12.74-10.22-12.74H706.67c-11.26,0-14.37,6-16,12.64-.66,2.65-19.73,77.52-38,149.4-12.52,49.22-42.94,90.34-75.47,90.34-16.72,0-24.17-10.49-24.17-28.32,0-15.4,9.95-53.4,21.82-100.57,14.45-57.43,27.2-104.72,28.56-110.24,1.78-7.08-1.39-13.25-10.51-13.25H539.61c-9.64,0-13.08,5.06-15.11,12.09,0,0-15,56.72-30.85,119.86-11.53,45.82-24.25,92.49-24.25,114.42,0,39.13,17.57,68.63,65.88,68.63,37.28,0,66.78-18.91,89.31-43-3.31,13-5.42,21.3-5.63,22.14-2,7.45.41,14,9.19,14h54.47c9.49,0,13.13-3.81,15.11-12.08,1.91-7.89,42.59-167.92,42.59-167.92,10.76-43,37.36-71.45,74.77-71.45,17.75,0,33.11,11.75,31.33,34.58-2,25.12-32.27,115.35-32.27,155,0,30,11.12,68.76,67.55,68.76,38.46,0,66.78-18.44,87.37-42.24,7.54,25.26,27.51,42.24,64.15,42.24,60.89,0,97.59-36.11,119.15-72.39,17.89,42.15,59.8,72.37,121.25,72.37,62.64,0,111.11-26.41,145.46-62.3l-10.71,42c-1.95,7.57,1.35,13.52,10.23,13.52h53.92c7.38,0,12.63-3.76,14.55-11.51.94-3.81,8.73-33.91,19.74-76.69,21-81.86,54.86-166.79,105.68-166.79,17.92,0,25.27,10,25.27,25.81a38.38,38.38,0,0,1-4,17.32c-24.63-4.9-44.45,7.26-44.45,33.56,0,17.14,18,32.71,42.37,32.71,18.59,0,34-4.56,46.23-12.81Q1696,400,1714,404.08a238.06,238.06,0,0,0-2.83,35.87c0,65.7,46.92,121.42,131,121.42,65.9,0,111.12-24.1,150.15-55,18.77,30.71,66.15,55.52,128.31,55.52,85.19,0,133.51-44.3,133.51-102.85,0-53-43.51-72.51-88.38-88.75-36.47-13.18-66.89-20.34-66.89-46.12,0-21.12,16.63-30.79,45.14-30.79a140,140,0,0,1,39.79,6.07c7.35,18.4,22.57,38.78,48.55,38.78,22,0,31.85-17.38,31.85-33.39,0-45.58-75.92-50.36-75.92-148.1,0-60.78,34.39-110.92,105.62-110.92,49.49,0,81.81,31.38,81.81,82,0,41.76-25.33,116.1-25.33,116.1h-43c-8.28,0-13.16,3.38-15,11.12q-4.36,18-9,36c-1.81,7,2.25,12.27,10,12.27h42s-43.46,160.26-43.46,189.41c0,39.13,22,68.62,70.38,68.62,68.35,0,111.07-44.42,129.64-109,1.44-5-1.39-9.06-6.45-9.06h-26.08c-5.2,0-8.22,3-9.54,8.05-5.89,22.93-20.49,47.05-49.23,47.05-16.72,0-26-10.49-26-28.32,0-15.39,10.19-51.44,22.73-100.2,6-23.22,16.61-66.54,16.61-66.54ZM1875,300.58c24.17,0,35.65,16.08,35.65,35.24,0,32.42-25.13,52.18-64.45,52.18-14.07,0-33.75-3.33-45.36-7.2C1805.73,351,1827.31,300.58,1875,300.58Zm-568.59,0c26.46,0,35.64,16.08,35.64,35.24,0,32.42-25.13,52.18-64.44,52.18-14.08,0-33.75-3.33-45.36-7.2C1237.12,351,1256.25,300.58,1306.42,300.58ZM260.41,0C87.94,0,1,123.66,1,226.78c0,62.43,23.64,118,74.34,138.67,8.31,3.41,15.76.12,18.17-9.08,1.67-6.37,5.64-22.44,7.41-29.14,2.44-9.1,1.49-12.29-5.22-20.23-14.62-17.24-24-39.57-24-71.19,0-91.74,68.64-173.87,178.73-173.87,97.49,0,151.05,59.57,151.05,139.12,0,104.67-46.32,193-115.09,193-38,0-66.41-31.41-57.3-69.93,10.91-46,32.05-95.61,32.05-128.81,0-29.71-16-54.5-49-54.5-38.82,0-70,40.16-70,94,0,34.27,11.58,57.45,11.58,57.45L107.08,490.05C93.21,548.76,105,620.74,106,628c.58,4.31,6.12,5.33,8.63,2.08,3.58-4.67,49.81-61.75,65.54-118.79,4.44-16.15,25.53-99.78,25.53-99.78,12.61,24.05,49.47,45.25,88.68,45.25,116.69,0,195.87-106.39,195.87-248.8C490.24,100.28,399,0,260.41,0Z"
                            transform="translate(-0.98)"
                        />
                    </svg>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 d-flex justify-content-center">
                    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 2499.05 610.45" xmlns="http://www.w3.org/2000/svg">
                        <title>dribbble</title>
                        <path
                            d="M764,245.62a51.8,51.8,0,1,0-51.78-51.8A51.8,51.8,0,0,0,764,245.62Zm1709.12,177c-7.88-5.54-14-6.46-19,4.3-87,188.38-233.55,94.38-219,102.65,32.51-14.87,118-83.45,105.09-178.14-7.84-57.87-57.51-83.54-110.23-74.35-92,16.05-125.88,115.3-108.65,203.18,3,15.09,8.41,27.54,13.79,39.73-104,84.57-145.29-75.7-150-94.85-.18-1,80.3-68.11,102.68-228,23.47-167.54-30-198-84.63-197.09-101.13,1.76-128.46,213.06-91.75,389.17-3.07.8-17.38,8.72-40.38,9.61-16.54-52.06-87.25-97.7-105.75-80.11-46.31,44,11.23,130,51.72,136.74-24.32,149.8-176.43,112.7-148.11-75,49.53-92,87.2-228.75,80.48-311.31C1747,40,1725.42.79,1676.55,2.73c-94,3.72-104.24,215.08-93.21,365.09-.55-3.69-5.78,18.23-44.31,29.13-9.11-50.58-90.56-101.35-109.73-76.94-35.89,45.68,26.31,127.14,55.77,132.82-24.32,149.8-176.42,112.7-148.11-75,49.54-92,87.2-228.75,80.48-311.31-2.38-29.24-24-68.4-72.87-66.47-94,3.73-104.23,215.09-93.21,365.1-.55-3.75-5.91,18.89-46,29.61-1.34-65.63-83.08-95.72-102.72-74.78-35,37.32,8,113.91,47.81,132.83-24.32,149.8-176.42,112.7-148.11-75,49.53-92,87.2-228.75,80.48-311.31-2.38-29.24-24-68.4-72.87-66.47-94,3.73-101.58,225.71-90.56,375.72-31,132.67-134.8,298.35-121.31-33.54,1.33-23.28,2.79-32.12-8.82-40.84-8.7-6.78-28.48-3.52-39.29-3.25-13.14.53-16.43,8.22-19.34,19.84-6.76,30-8,59.1-8.94,98.79-.64,18.57-2.13,27.23-9.28,52.55s-47.88,71.58-70.19,63.84c-30.94-10.64-20.79-98-15-158,4.83-47.43-10.64-68.73-50.28-76.48-23.21-4.84-37.31-4.09-61.48-11.71-22.86-7.21-28-50.44-76.78-36-26.67,7.89-9.52,64.39-15.93,106.26-31.51,206-97.07,211.64-127.48,111.58C432.25,133.3,334.89,1,277.91,1c-59.35,0-127.2,40.89-98.47,302.47-14-4.08-18.26-6.27-33.56-6.27C59.4,297.24.48,367.15.48,453.4S59.4,609.56,145.89,609.56c51.05,0,86.9-23.22,114.05-59.13,17.71,25.36,39.28,59.52,78.72,58,117.57-4.58,151.76-245.75,155.8-259.2,12.57,1.94,24.46,5.61,36.06,7.54,19.34,2.91,20.75,10.56,20.31,30-5.13,164,25.14,221.45,93.8,221.45,38.25,0,72.34-37.58,95.83-64.46C758,580,786,607.11,823.45,608.22c90.87,2.26,125.66-142.58,122.49-123.52-2.49,15,29.48,122.7,123,123.09,115.88.49,137.42-126.94,140-148.29.32-4.24.46-3.8,0,0l-.09,1.3c36.79-6.85,55.77-26.57,55.77-26.57s29.54,175.54,139,173.57c113.63-2.06,135.05-117.25,137.87-139.72.37-5.33.59-4.7,0,0,0,.22,0,.44,0,.66,43.7-15.89,55.2-31.85,55.2-31.85s23.47,172.05,139,173.56c102.91,1.34,141.05-104,141.27-148.15,17.36.18,49.46-10.3,48.71-10.89,0,0,37.7,150.43,143,158.15,49.42,3.63,86.5-27.81,107.63-42.15,49.67,40.22,215.06,91.6,319.49-85.45,14.74-25.42-17-55.43-22.51-59.35ZM141.72,551.16c-50.46,0-82.82-46.66-82.82-97s29.7-97,80.16-97c22.71,0,35.34,2.5,53,17.88,3.21,12.64,12.3,41.79,16.72,55,5.93,17.72,13,32.79,20.08,49.2-10.15,42.09-43.44,71.83-87.16,71.83Zm123-174.57c-2.1-3.34-1.66-1.29-4-4.45C251.42,347,233.6,290.82,231.53,227c-2.33-72.16,9.69-156.74,45.15-156.74,24,0,49.56,171.42-12,306.3ZM975.15,301.4c-5.69-42.82-6-233.71,39.84-228.45C1040.29,83.2,999,263.33,975.15,301.4Zm334.64,0c-5.69-42.82-6-233.71,39.84-228.45C1374.93,83.2,1333.58,263.33,1309.79,301.4Zm332,2.66c-5.69-42.82-6-233.72,39.84-228.46C1706.9,85.85,1665.55,266,1641.76,304.06ZM2008.27,61.77c41.89-4.34,40.17,178.63-43.93,294.14-10.85-41.75-27.48-279.8,43.93-294.14Zm176.1,393.71c-13.46-68,21.32-112.62,57.16-117.52,12.53-2,30.69,6.12,34.31,21.29,5.95,28.6-.86,71-81.09,124.84a109.85,109.85,0,0,1-10.37-28.61Z"
                            transform="translate(-0.48 0)"
                        />
                    </svg>
                </div>
            </div></div></sbpro-page-section
    ><sbpro-page-section sectionClasses="pt-10 bg-light" borderType="angled" borderClasses="text-white"
        ><div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-8 mb-5">
                    <div class="badge badge-marketing rounded-pill bg-secondary-soft text-secondary mb-3">Marketing</div>
                    <h2>A better way to capture leads</h2>
                    <p class="lead">Design can go a long way when capturing leads on your website. This lead caputre landing page example can help you get started!</p>
                </div>
            </div>
            <div class="row gx-5 mb-n10 z-1">
                <div class="col-lg-6 mb-5">
                    <div class="card h-100">
                        <div class="card-body p-5">
                            <div class="icon-stack icon-stack-xl bg-secondary-soft text-secondary mb-4"><i-feather name="users"></i-feather></div>
                            <h5>Cultivate better customers</h5>
                            <p class="card-text">Learn how lead generation fits into your inbound marketing strategy and easy ways that you can start generating leads for your company</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="card h-100">
                        <div class="card-body p-5">
                            <div class="icon-stack icon-stack-xl bg-success-soft text-success mb-4"><i-feather name="trending-up"></i-feather></div>
                            <h5>Reach sales goals</h5>
                            <p class="card-text">Attract and convert prospects into paying customers on your website by implementing a new design into your lead generation strategy</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card h-100">
                        <div class="card-body p-5">
                            <div class="icon-stack icon-stack-xl bg-primary-soft text-primary mb-4"><i-feather name="tool"></i-feather></div>
                            <h5>Use the right tools</h5>
                            <p class="card-text">By adding forms, call to action buttons, and information boxes, this template has the right tools to capture new leads</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card h-100">
                        <div class="card-body p-5">
                            <div class="icon-stack icon-stack-xl bg-warning-soft text-warning mb-4"><i-feather name="layout"></i-feather></div>
                            <h5>Easy to customimze</h5>
                            <p class="card-text">Take sections and components from this UI Kit to build multiple variations of a lead caputre page to test which one performs better!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div></sbpro-page-section
    ><sbpro-page-section sectionClasses="bg-white border-bottom py-10"
        ><div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <h4 class="text-primary">Ready to get started?</h4>
                    <p class="lead mb-0">Create your account now!</p>
                </div>
                <div class="col-lg-6 text-lg-end"><a class="btn btn-primary fw-500 me-3" [routerLink]="">Start Now</a><a class="btn btn-transparent-dark fw-500" [routerLink]="">Contact Us</a></div>
            </div>
        </div></sbpro-page-section
    ></sbpro-layout-landing
>
